/* @import url('https://fonts.googleapis.com/css?family=Stylish&display=swap'); */

body,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #55b9f3;
}

/*chat box elements*/

#chat {
  --width: 500px;
  --offset: calc(50% - calc(var(--width) / 2));
  position: fixed;
  bottom: 0;
  width: var(--width);
  left: var(--offset);
  right: var(--offset);
}

#chat-input {
  --height: 75px;
  /* --width: calc(var(--height) * 3.22); */
  height: var(--height);
  width: 100%;
  margin-bottom: 20px;
  border-radius: 25px;
  outline: none;

  color: cornflowerblue;
  font-size: 20px;
  padding-left: 25px;
}

/* message elements */

#messages {
  padding-top: 20px;
  padding-bottom: 40px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.message {
  text-align: center;
  margin: 44px auto;
  width: 50vw;
  min-height: 100px;
  /* border: 1px solid pink; */
  font: 60px/1.6 normal normal;
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: "Baloo Chettan 2", Arial, Helvetica, sans-serif; */
  /*this is the chisel text effect*/
  /* color: #eee;
  text-shadow: 2px 2px #fff, -2px -2px #ccc; */
  color: rgb(78, 178, 236);
  text-shadow: 2px 2px rgb(95, 195, 253), -2px -2px rgb(42, 143, 202);
  /*this is from neumorphism.io*/
  border-radius: 12px;
  background: #55b9f3;
  box-shadow: 20px 20px 60px #489dcf, -20px -20px 60px #62d5ff;
}

/* scrollbar from webkit */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.18);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.68);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.85);
}
